<h1>title</h1>

<spline-viewer
  url="https://prod.spline.design/UWoeqiir20o49Dah/scene.splinecode"
></spline-viewer>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, possimus
  praesentium. Molestias, nulla! Officia, perspiciatis ipsa ipsum mollitia
  accusamus exercitationem modi vero debitis optio at cum sed iste tenetur
  tempore.
</p>
